.parent{
    width: 100%;
    height: 100%;
    }
    .child1{
        display: flex;
        width: 100%;
        height: 90px;
        background-color: rgb(183, 187, 186);
        flex-direction: row;
        top: 400px;
        padding-left:30px ;
        
    }
    .reer{
        color: white;
       text-decoration: none;
       }
    .child2{
        width: 100%;
        height: 650px;
        background-color: rgb(244, 248, 248);
        top: 90px;
        padding-left:30px ;
        padding-top: 5px;
    }
    
    .child3{
        display:block;
        width: 100%;
        height: 170px;
        background-color:rgb(210, 223, 207);
        top: 1500px;
        padding-left:30px ;
        padding-top: 20px;
    }
    .child4{
        width: 100%;
        height: 450px;
        background-color: rgb(169, 204, 163);
        top: 4000px;
        padding-left:30px ;
    }
    #cafe{
        font-size: 40px;
        font-family: 'Cambria';
        color: rgb(66, 6, 30);
       }
       #eye{
        display: flex;
    }
       #btn{
        background-color: rgb(119, 5, 5);
        color: white;
        width: 100px;
        height: 60px;
        border: 0px;
        position: relative;
        left: 440px;
        justify-content: right;
        top: 15px;
        border-radius: 30px;
       }
       
       .sub{
        background-color: rgb(1, 12, 34);
        font-size: 25px;
        color: white;

       }
       #sub{
        font-size: 20px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-right: 40px;
    }
       
       .for{
        display: flex;
       
       }
       
       #for{
           width: 60%;
           height: 60px;
           padding: 12px 20px;
           margin: 8px;
           box-sizing: border-box ;
       }
       .yours{
        font-size: 20px;
        font-family:'Times New Roman';
        margin-right: 40px;
        font-weight: bold;
    }
    #your{
        font-size: 20px;
        font-family:Georgia, 'Times New Roman', Times, serif;
        margin-right: 40px;
        font-weight: normal;
    }
    
    .scribe{
        margin-right: 60px;
    }
    .ail{
        
        margin-right: 40px;
    }
    #ail{
    
        width: 500px;
        height: 40px;
        padding: 12px 20px;
        margin: 8px;
        box-sizing: border-box  ;
    
         
    }
    #crib{
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        margin-right: 60px;
    }
    .staff{
        display: block;
        list-style-type: none;
        text-decoration: none;
        justify-content: right;
        position: absolute;
        top: 930px;
        padding: 20px;
        flex-direction: column;
        }
    #staff{
        font-family: 'cambria';
        font-size: 30px;
    }
    .miu{
        display: block;
        list-style-type: none;
        text-decoration: none;
        justify-content: right;
        position: absolute;
        top: 920px;
        left: 60%;
        flex-direction: column;
        padding: 20px;
        }
    #miu{
    font-size: 30px;
    font-family: 'Cambria'
    }
    .cons{
        display: block;
        list-style-type: none;
        text-decoration: none;
        justify-content: right;
        position: absolute;
        top: 920px;
        left: 30%;
        flex-direction: column;
        padding: 20px;
        }
        #cons{
            font-size: 30px;
            font-family: 'Cambria';
    
        }
        
    .word{
        display: block;
        position: absolute;
        left:5%;
        top: 1180px;
    }
    .things{
        display: flex;
        position: absolute;
        left:34px;
        top: 1220px;
    }
    .all{
    display: block;
    position: absolute;
    left: 5%;
    top: 1260px;
    }
    